@media(max-width: 768px){
    .menu{
		display: none;
		background:rgb(92, 91, 91);
		position:absolute;
		top:50px;
		left:60%;
	
	
    }
	.menu ul{
		display:block;
		padding-left:0;
		
	}
	

		
    .menu-icon{
       
        display: block;
		
    }
}
