@media(max-width: 768px){
    
	
	

		
    .menu-icon{
       
        display: block;
		
    }
	.header-menu{
		display:none;
	}
	
	.header-menu ul{
		background:rgba(172, 171, 171, .7);
		display:block;
		position: absolute;
		top:40px;
		right: 0;
	
	}
	.header-menu ul li {
        padding:  10px 10px;
    }
	

	.banner-text h1{
		font-size:25px;
	}
	.banner-area button{
        text-align: center;
        margin: 5% 30%;
	}
	.member-info{
        width: 25%;
	}
}
@media(max-width: 576px){
	.banner-text h1{
		font-size:20px;
	}
	.banner-area button{
        text-align: center;
        margin: 5% 25%;
	}
	
	
	
	
}

