img{
    width: 100%;
    height: auto;
}

/*-------main css----*/
header{
    background: url(./img/banner.jpg);
    background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
   
	
}
.menu-icon{
    width: 20px;
    float: right;
    display: none;
    margin-top: 20px;
    color: #fff;
}
.header-menu{
    display: block;
}
.header-logo{
    
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    
       
    }
    .header-menu{
        float: right;
    }
    .header-menu ul {
        display: flex;
    }
    .header-menu ul li {
        list-style: none;
        padding:  25px 20px;
    }
    .header-menu ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(224, 223, 223);
        font-weight:bold;
        font-size: 15px;
    }
    .banner-area{}
    .banner-text{
        width:50%;
		margin:0 auto
    }
    .banner-text h1{
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        

    }
    .banner-text span{
       
        color: rgb(233, 232, 232);
        
    }
    .banner-area button{
        text-align: center;
        margin: 5% 40%;
        padding: 8px 20px;
        border-radius: 5px;
        background:#e84545 ;
        border: none;
    }
    /*----header end-----*/
    .service-section{}
    .single-service{
        padding: 50px 20px 20px;
    } 
    .service-img{
        width: 8%;
        margin: 0 auto;

    }
    .single-service h6{
        padding: 20px 0 8px;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    .single-service span{
        color: gray;
        font-size: 13px;
    }
    .img-section{
        padding: 50px 0;
    }
    .img-area{
        display: flex;
    }
    .single-img{
        width: 25%;
    }
      /*----service end-----*/
    .team-section{
        padding: 60px 0;
    }
    .member-area{
        
    }
    .member-area h5{
        padding-top: 30px;
        font-weight: bold;
        text-transform: capitalize;
        color: rgb(44, 42, 42);
    }
    .member-area p{
        text-transform: uppercase;
        color: rgb(156, 55, 55);
        font-weight: bold;
        font-size: 12px;
    }
    .member-area span{
        font-size: 14px;
        color: gray;
    }
    .member-info{
        width: 50%;
        padding-top: 10px;
        
        
    }
    .ember-icon{
        padding:8px;
        
        width:20%;
    }
    .ember1-icon{
        padding:8px;
        
        width:30%;
    }
      /*----team area end-----*/
      .protflio-section{
         
      }
.protflio-text{
    background: #53354a;
    padding: 70px 0 70px 30px;
    margin: 70px 0 50px -50px;
  
    color: #fff;
}
.protflio-text h2{
    font-style: italic;
    
}
.protflio-text p{
    font-size: 12px;
    text-transform: uppercase;
}
.protpolio-bottom{
    text-align: center;
}
.protpolio-bottom h3{
    text-transform: capitalize;
    color: rgb(78, 76, 76);
}
.protpolio-bottom p{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 14px;
}
.protpolio-bottom button{
    text-align: center;
        margin: 5px 40px 60px;
        padding: 8px 20px;
        border-radius: 5px;
        background:#e84545 ;
        border: none;
}
    
        /*----protflio end-----*/
        .footer-top{
            background: #3a3e64;
            text-align: center;
            padding: 80px 0;
        }
        .footer-top h6{
            color: #fff;
            
            font-weight: bold;
            text-transform: uppercase;


        }
        .footer-top span{
            color: grey;
        }
        .footer-top img{
            width: 7%;
            margin: 0 auto;
        }
        .footer-top .ember1-icon{
            padding:8px;
            
            width:9%;
        }
        .footer-bottom{
            background: #313454;
            text-align: center;
            padding: 20px 0;
            color: gray;
        }

        


